.navbar{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items:  center;
    background: white;
    padding: 0 2rem;
    height: 60px;
}
.linksNav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;  
}
.link{
    padding:1rem 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 800;
}
.link:hover{
    border-radius: 5px;
    color: #be897f;
}
.logo{
    background-image: url('./logo.png');
    background-size: cover;
    width:100px;
    height: 50px;
    margin-right:  50px;

}
