@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');


.recipe_link{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22rem;
  /* height: 100%; */
  max-width: 300px;
  margin: 3rem;
  padding: 4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #aaa;
}


.img{
  height: 250px;
  width: 250px;
}

.heart-icon{
  border: none;
  background-color: transparent;
   width: 30px;
  height: 10px; 
  padding-left: 10px;

  
 
}
.iconHeart{
  color:red;
  background-color: transparent;

}
.recipe_title {
  font-size: 1.9rem;
  font-family: 'Pushster', cursive;
  color: rgb(180, 179, 179); 
  text-decoration: none;
  padding-left: 20px;
  

}
.recipe_title:hover{
  color:hotpink
}
.calories{
  font-size: 25px;
  font-family: 'Pushster', cursive;  
  color:#CCAF9B;
 


}
.recipe_details{
  padding-top: 25px;
  padding-left: 10px;
  position: relative;
  left: 20%;
}
.recipe_cal{
  font-size: 17px;
  font-family: 'Permanent Marker', cursive;  
}

.deleteIcon{
  height: 40px;
  width: 50px;
  border: none;
  background-color: transparent;
  position: relative;
 
}
.iconss{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}
.time{
  font-size: 1.5rem;
  padding: 5px;
}