.recipe_link{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: relative;
  width: 14rem;
  height: 100%;
  max-width: 300px;
  margin: 2rem;
  padding: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #aaa;
}
.recipe_link :hover{
  color: rgb(199, 32, 171);
  opacity: 1
}

.img{
  height: 300px;
  width: 300px;
}

.heart-icon{
  border: none;
  background-color: transparent;
 
}
.iconHeart{
  color:red
}