@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');


.recipe_link{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20rem;
  /* height: 100%; */
  max-width: 300px;
  margin: 3rem;
  padding: 4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #aaa;
}


.img{
  height: 250px;
  width: 250px;
}

.heart-icon{
  border: none;
  background-color: transparent;
  padding-left:20px;
  width: 100px;
  height: 50px;

  
 
}
.iconHeart{
  color:red;
  background-color: transparent;
  height: 50px;
  width: 20px;

}
.recipe_title {
  font-size: 2rem;
  font-family: 'Pushster', cursive;
  color: rgb(180, 179, 179); 
  text-decoration: none;
  

}
.recipe_title:hover{
  color:hotpink
}
.calories{
  font-size: 25px;
  font-family: 'Pushster', cursive;  
  color:#CCAF9B;

}
.recipe_details{
  padding-top: 25px;
}
.recipe_cal{
  font-size: 17px;
  font-family: 'Permanent Marker', cursive;  
}
.line{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 600;
  color:#CCAF9B

}