.navbar{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items:  center;
    background: palevioletred;
    padding: 0 2rem;
    height: 50px;
}
.linksNav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;  
}