@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.favoritItem{
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top:8%;
  justify-content: space-around;
  align-items: center;

  
}
.delete{
 height: 40px;
 width: 50px;
 border: none;
 background-color: transparent;
 position: relative;
left: 35%;
 

}
.details_Favorite{
  display: flex;  
}
.titleFav{
  text-align: center;
  position: absolute;
  top:10%;
  left: 45%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;

}